@import url("https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap");
a,
a:active,
a:visited,
a:focus,
a:hover {
  text-decoration: none;
  color: #ffffff; }

a:hover {
  color: #57cbcc; }

.logo {
  background-image: url("/images/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 0.75em;
  height: 0.75em; }

section {
  padding: 1.5em 0;
  text-align: center; }

h2 {
  text-align: center;
  color: #ffffff;
  font-size: 2.5rem;
  margin: 2rem 0 0.5rem 0; }

div.underline {
  border: 0;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
  width: 30%;
  display: inline-block;
  margin: 0 0 2rem 0; }
  div.underline::before {
    content: '';
    height: 0.4rem;
    margin-left: -2.5%;
    margin-top: -0.2rem;
    position: absolute;
    width: 5%;
    background-color: #57cbcc; }

.hero-banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

html, body {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 16px;
  color: #afbac4;
  background: #353b43;
  margin: 0;
  padding: 0;
  height: auto;
  scroll-padding-top: 3em; }

body {
  display: flex;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

footer {
  flex-shrink: 0; }

.content {
  padding: 1.5em 2em; }

.container.with-boxes {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .container.with-boxes > article {
    margin: 1rem;
    padding: 2.5rem;
    background: #242930;
    height: 20rem;
    width: 17rem;
    line-height: 1.8em;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
    .container.with-boxes > article .icon-box {
      font-size: 3em; }

.container.hero-text {
  background-color: #242930;
  line-height: 1.6em;
  text-align: initial; }
  @media only screen and (min-width: 960px) {
    .container.hero-text {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; } }
  .container.hero-text > *.hero-banner {
    min-height: 18em; }
  @media only screen and (min-width: 960px) {
    .container.hero-text > * {
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
      flex: 0 1 50%;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch; } }
  .container.hero-text > * p {
    padding: 1.5em 2em; }

.icon-box {
  background: url("/images/box.min.64510fee3862483ee648f728b4d8b5b2fbfadf49a207bc893645d12dba293242.svg");
  background-size: 100% 100%;
  display: inline-block;
  padding: 1em; }
  .icon-box svg {
    width: 1em;
    height: 1em; }

header {
  background-color: #1d2024;
  padding: 1em 2em;
  font-size: 0.9rem;
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  header .home svg {
    width: auto;
    height: 2em; }
    header .home svg #logo {
      fill: #57cbcc !important; }
  header nav {
    display: flex; }
    header nav ul {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
      flex-direction: row;
      padding: 0;
      margin: 0;
      list-style: none; }
    header nav li::before {
      content: "|";
      margin: 0 0.5em;
      color: #535963; }
    header nav li:first-child::before {
      content: "";
      margin: 0; }

section#banner {
  background-color: #353b43;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1.5em; }
  section#banner:before {
    content: '';
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  section#banner > * {
    text-align: center;
    z-index: 1;
    padding: 2em; }
  section#banner h1 {
    font-size: 2em; }
  section#banner a[type=button] {
    background-color: transparent;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 0;
    transition: all .3s ease-in 0s;
    display: inline-block;
    border: 1px solid;
    user-select: none;
    line-height: 1.5;
    text-decoration: none;
    border-color: #ffffff;
    margin-top: 1em; }

.webp-supported section#banner {
  background-image: url("/images/banner-background.webp"); }

.webp-not-supported section#banner {
  background-image: url("/images/banner-background.jpeg"); }

section#about-us .details {
  margin-top: 3em; }

section#about-us .details .hero-banner {
  background-position: 0 -15px; }

.webp-supported section#about-us .details .hero-banner {
  background-image: url("/images/about-us-background.webp"); }

.webp-not-supported section#about-us .details .hero-banner {
  background-image: url("/images/about-us-background.jpeg"); }

footer {
  font-size: 0.9rem;
  background-color: #1d2024;
  padding: 1.5em 2em;
  text-align: center; }
  footer p, footer ul {
    margin: 0;
    margin-block-end: 0.5em;
    margin-block-start: 0.5em; }
  footer ul {
    padding: 0;
    list-style: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0; }
    footer ul li {
      display: inline-block;
      margin: 0;
      padding: 0; }
      footer ul li::before {
        content: "|";
        margin: 0 0.5em;
        color: #535963; }
      footer ul li:first-child::before {
        content: "";
        margin: 0; }
