section#banner {
  background-image: url("/images/banner-background.webp");
  background-color: $color-background-default;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  color: $color-light;
  font-size: 1.5em;

  @media only screen and (max-width: 800px) {
    font-size: 1em;
  }
  @media only screen and (max-width: 400px) {
    font-size: 0.75em;
  }
  @media only screen and (max-width: 300px) {
    font-size: 0.5em;
  }

  &:before {
    content: '';
    background: rgba(0, 0, 0, .70);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  > * {
    text-align: center;
    z-index: 1;
    padding: 2em;
  }

  h1 {
    display: none;
  }

  a[type=button] {
    @include button(light);
    margin-top: 1em;
  }

  svg {
    height: 4em;
    width: auto;
    #logo {
      fill: $color-accent !important;
    }
  }
}

[data-webp-supported=false] section#banner {
  background-image: url("/images/banner-background.jpg");
}
