$hamburger-layer-color: $color-light;
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
@import "hamburgers/hamburgers";

header {

  background-color: $color-background-edge;
  padding: 1em $padding-default-x;
  font-size: 0.9rem;
  z-index: 1;

  position: -webkit-sticky;
  position: sticky;
  top: 0;

  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;

  .home svg {
    width: auto;
    height: 2em;

    #logo {
      fill: $color-accent !important;
    }
  }

  nav {
    padding: 0;
    margin: 0;

    a {
      &::before {
        content: "|";
        margin: 0 0.5em;
        color: $color-shadow;
      }

      &:first-child::before {
        content: "";
        margin: 0;
      }
    }
  }

  .hamburger {
    display: none;

    &:focus {outline:0;}
  }

  @media only screen and (max-width: 750px) {
    nav {
      display: none;
    }

    &[data-expanded=true] nav {
      display: block;
      position: absolute;
      right: 0;
      top: ((1em * 2) + 2em);
      background: $color-background-edge;

      & > a {
        font-size: 1.5em;
        display: block;
        margin: 1em;

        &::before {
          content: "";
          margin: 0;
        }
      }

    }

    .hamburger {
      display: inline-block;
    }

  }

}
