{{- $data := index .Site.Data .Site.Language.Lang -}}
{{- with index $data `about-us` -}}

<section id="about-us">

    <h2>{{ i18n `aboutUs` }}</h2>
    <div class="underline"></div>

    <div class="container with-boxes teasers">
        {{ range .teasers }}
            <article id="{{.id}}">
                <div class="icon-box">
                    {{ partial .icon . }}
                </div>

                <p>{{ .text | markdownify }}</p>
            </article>
        {{ end }}
    </div>

    <article class="container hero-text details right">
        <div class="hero-banner"></div>
        <div class="hero-content"><div>{{- .whoWeAre | markdownify -}}</div></div>
    </article>
</section>
{{- end -}}