{{- $data := index .Site.Data .Site.Language.Lang -}}
<section id="contact">

    <h2>{{ i18n `contactUs` }}</h2>
    <div class="underline"></div><br>

    {{- with index $data `contact` -}}
        <article class="container hero-text details">
            <div class="hero-content">
                <div>
                    <h3>{{ i18n `contactDetails` }}</h3>
                    <ul>
                        <li>{{ partial `svg/fontawesome/map-marked-alt-solid.svg` . }}
                            {{ i18n `address` }}: <a href="{{.address.link}}">{{.address.line}}, {{.address.zip}} {{.address.city}}</a></li>
                        <li>{{ partial `svg/fontawesome/phone-alt-solid.svg` . }}
                            {{ i18n `phone` }}: <a href="tel:{{replace (replace .phone `(0)` ``) ` ` ``}}">{{.phone}}</a></li>
                        <li>{{ partial `svg/fontawesome/fax-solid.svg` . }}
                            {{ i18n `fax` }}: <a href="tel:{{replace (replace .fax `(0)` ``) ` ` ``}}">{{.fax}}</a></li>
                        <li>{{ partial `svg/fontawesome/envelope-solid.svg` . }}
                            {{ i18n `email` }}: <a href="mailto:{{.email}}">{{.email}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="hero-content">
                <div>
                    <h3>{{ i18n `approach` }}</h3>
                    {{ .approach | markdownify }}

                </div>
            </div>
        </article>
    {{- end -}}

    {{ if .Site.Params.map.enable }}
        <div class="map google-maps"
             data-lat="{{ .Site.Params.map.lat }}"
             data-lon="{{ .Site.Params.map.lon }}"
             data-name="{{ .Site.Title }}"></div>
    {{ end }}

</section>