<header>
    <a class="home" href="/"><img class="logo with-text" src="/images/logo_text.svg" alt="{{ .Title }}"></a>
    <nav>
        <ul>
            <li><a href="/#about-us">{{ i18n `aboutUs` }}</a></li>
            <li><a href="/#team">{{ i18n `lawyers` }}</a></li>
            <li><a href="/#services">{{ i18n `ourServices` }}</a></li>
            <li><a href="/#costs">{{ i18n `costs` }}</a></li>
            <li><a href="/#contact">{{ i18n `contactUs` }}</a></li>
        </ul>
    </nav>
</header>