{{- $data := index .Site.Data .Site.Language.Lang -}}
<header>
    <a class="home" href="/" aria-label="{{ .Title }}">
        {{ partial "svg/logo_text.svg" . }}
    </a>

    <button class="hamburger hamburger--squeeze" type="button" aria-label="Menu" aria-controls="navigation">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>

    {{- with index $data `links` -}}
    <nav id="navigation">
        {{- range .header -}}
        <a href="{{ .link }}">{{ i18n .titleKey }}</a>
        {{- end -}}
    </nav>
    {{- end -}}
</header>
