{{- $data := index .Site.Data .Site.Language.Lang -}}
{{- with index $data `team` -}}

<section id="team">

    <h2>{{ i18n `lawyers` }}</h2>
    <div class="underline"></div>

    {{ range .people }}
        <article id="team-{{.id}}" class="container hero-text details right">
            <div class="hero-banner" style="background-image: url('/images/{{- .id -}}.webp');"></div>
            <div class="hero-content">
                <div>
                    <h3>{{- .name -}}</h3>
                    {{ .text | markdownify }}
                </div>
            </div>
        </article>
    {{ end }}

</section>
{{- end -}}